:root {
  --rectblue: #3A5980;
}

* {
  color: #F5F5F5;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #202127;
  height: 100%;
  padding:0;
  display:flex;
  flex-direction: column;
}

html {
  height:100%;
}

.headerrect, .footerrect {
  background-color: var(--rectblue);
  overflow:auto;
  margin-left: 3vw;
  margin-right: 3vw;
  margin-top: 4vh;
  margin-bottom:4vh;
  border-radius: 1vh;
  white-space: nowrap; 
  display:flex;
  justify-content: space-between;
  align-items: center;
}

#sophiatitle {
  padding-left: 3vw; 

}

#navlinks{
  padding-right:3vw;
}


ul {
  list-style:none;
  display: inline;
}

li {
  display: inline-block;
  margin-left: 2vw;
}
/* margin = outside box 
padding = inside box
*/

#foottext{
  padding-left: 3vw;
  padding-right: 3vw;
}

.slideshow{
  background-color: var(--rectblue);
  display: inline;
  width:50%;
  height:100;
  border-radius: 1vh;
}

#sophiaphoto{
  max-width: 5vw;
  max-height: 5vw;
  display:inline-block;
  border-radius: 1vh;
}

.contact{
  background-color: var(--rectblue);
  display:inline-block;
  border-radius: 1vh;
}

.section2{
  display: flex;
  flex:1;
  margin-left: 3vw;
  margin-right: 3vw;
  border-radius: 1vh;
}